:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  /* background-image: url(../assets/img/fundo-city.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #1E94CB;
  text-decoration: none;
}

a:hover {
  color: #06b19a;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

.form-control, .input-group-text{
  background-color: transparent;
  border: 2px solid #69D1C5;
  border-radius: 0%;
  color: white;
}

.form-label{
  color: black;
  font-weight: bold;
}

.text-small{
  color: black;
  text-align: center;
}

.form-check-label, .small{
  color: black;
}
#acceptTerms{
  border-color: black;
}
.btn-primary {
  background-color: transparent;
  color: black;
  /* border-color: #E8F0FF; */
  border-color: #1e2532;
  border: 5%;
}

.btn-primary:hover {
  background-color: #E8F0FF;
  color: #1E94CB;
  border-color: #1e2532;
  font-weight: bold;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

/* Card */
.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 10px 60px 60px 60px rgba(1, 41, 112, 0.1);
  background-color: #fff;
}

.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 5px;
}

.card-title {
  padding: 5px 0 15px 0;
  font-size: 18px;
  font-weight: 500; 
  color: black;
  font-family: "Poppins", sans-serif;
}

.card-title span {
  color: black;
  font-size: 14px;
  font-weight: 400;
}

.card-body {
  padding: 0 20px 20px 20px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

/*--------------------------------------------------------------
# Logo no início do card
--------------------------------------------------------------*/
.logo {
  line-height: 1;
}

@media (min-width: 1200px) {
  .logo {
    width: 280px;
  }
}

.logo img {
  max-height: 26px;
  margin-right: 6px;
}

.logo span {
  font-size: 26px;
  font-weight: 700;
  color: #012970;
  font-family: "Nunito", sans-serif;
}